.albumCardContainer {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
  border: 1px outset #dddddd;
  box-sizing: border-box;
}

.albumCardPlayingNowOverlay {
  position: absolute;
  background-color: rgba(165, 195, 205, 0.75);
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: darkslategrey;
  cursor: default;
}

.albumCardContainer > img {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .albumCardContainer {
    width: calc((100vw - 22px) / 5);
    height: calc((100vw - 22px) / 5);
  }
}

@media screen and (max-width: 768px) {
  .albumCardContainer {
    width: calc((100vw - 22px) / 3);
    height: calc((100vw - 22px) / 3);
  }
}

@media screen and (max-width: 480px) {
  .albumCardContainer {
    width: calc((100vw - 22px) / 2);
    height: calc((100vw - 22px) / 2);
  }
}
