.albumCardPlayingNowOverlay {
  position: absolute;
  background-color: rgba(165, 195, 205, 0.75);
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: darkslategrey;
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  .imgContainer.albumCardContainer {
    width: calc((100vw - 24px) / 5);
    height: calc((100vw - 24px) / 5);
  }
}

@media screen and (max-width: 768px) {
  .imgContainer.albumCardContainer {
    width: calc((100vw - 24px) / 3);
    height: calc((100vw - 24px) / 3);
  }
}

@media screen and (max-width: 480px) {
  .imgContainer.albumCardContainer {
    width: calc((100vw - 24px) / 2);
    height: calc((100vw - 24px) / 2);
  }
}
