.playerInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.library {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 26px;
  height: 26px;
  background: center / 100% no-repeat url("../media/music-collection.svg")
    transparent;
  pointer-events: none;
}

.libraryButton {
  margin-left: 5px;
  width: 26px;
  height: 26px;
  background: center / contain no-repeat url("../media/music-collection.svg")
    transparent;
  cursor: pointer;
}

.copyLinkButton {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background: center / contain no-repeat url("../media/copy-link.svg")
    transparent;
  cursor: pointer;
}

.rhap_container {
  padding: 10px 0;
  box-shadow: none;
}

.rhap_container:focus {
  outline: none;
}

.rhap_progress-section .rhap_current-time,
.rhap_progress-section .rhap_total-time {
  width: 15%;
}

.rhap_progress-section .rhap_progress-container {
  margin-left: 7px;
  margin-right: 7px;
  width: 70%;
}

.rhap_main.rhap_stacked-reverse {
  padding: 0 15px;
}

.rhap_additional-controls {
  position: relative;
  flex: 1 1 33%;
}

.rhap_main-controls {
  flex: 1 1 33%;
}

.rhap_volume-controls {
  flex: 1 1 33%;
}

.playerInfoContainer > .title {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: slategray;
  font-weight: bold;
  padding: 0 15px;
  max-width: 430px;
  box-sizing: border-box;
}

.playerInfoContainer > .album {
  font-size: 0.8rem;
  font-weight: bold;
  color: darkgrey;
  margin: 0.3rem 0;
}

.playerInfoContainer > .artist {
  font-size: 0.8rem;
  font-weight: bold;
}

.playerControlContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.playerLoopOneBadge {
  position: absolute;
  top: 15px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #868686;
  color: #dddddd;
  font-size: 8px;
  font-weight: bold;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 12px 5px 0;
  color: #dddddd;
  font-size: 0.5rem;
}

.copyright > a {
  padding-left: 3px;
  color: #868686;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .rhap_container {
    background-color: #202b38;
  }

  .rhap_time {
    color: lightgray;
  }

  .playerInfoContainer > .title {
    color: lightgray;
  }
}
