.playerInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.albumCover {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vw;
  max-width: 430px;
  max-height: 430px;
}

.albumCover > img {
  object-fit: cover;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.albumCover .library {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: center / 65% no-repeat url("../media/music-collection.svg")
    #dddddd;
  pointer-events: none;
  box-shadow: 1px 1px 5px #868686;
}

.libraryButton {
  margin-left: 5px;
  width: 26px;
  height: 26px;
  background: center / contain no-repeat url("../media/music-collection.svg")
    transparent;
  cursor: pointer;
}

.rhap_container {
  padding: 10px 0;
}

.rhap_main.rhap_stacked-reverse {
  padding: 0 15px;
}

.rhap_additional-controls {
  position: relative;
  flex: 1 1 33%;
}

.rhap_main-controls {
  flex: 1 1 33%;
}

.rhap_volume-controls {
  flex: 1 1 33%;
}

.playerInfoContainer > .title {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: slategray;
  font-weight: bold;
  padding: 0 15px;
}

.playerInfoContainer > .album {
  font-size: 0.8rem;
  font-weight: bold;
  color: darkgrey;
  margin: 0.3rem 0;
}

.playerInfoContainer > .artist {
  font-size: 0.8rem;
  font-weight: bold;
}

.playerControlContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.playerLoopOneBadge {
  position: absolute;
  top: 15px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #868686;
  color: #dddddd;
  font-size: 8px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .rhap_container {
    background-color: #202b38;
    box-shadow: 0 0 3px 0 rgb(255 255 255 / 20%);
  }

  .rhap_time {
    color: lightgray;
  }

  .playerInfoContainer > .title {
    color: lightgray;
  }

  .albumCover > img {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
  }
}
