.playerInfoContainer {
  display: flex;
  width: 100%;
  max-width: 430px;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1.5rem;
}

.playerInfoContainer > img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.rhap_container {
  padding: 10px 0;
}

.rhap_main.rhap_stacked {
  padding: 0 15px;
}

.playerInfoContainer > .title {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: slategray;
  font-weight: bold;
  padding: 0 15px;
}

.playerInfoContainer > .album {
  font-size: 0.8rem;
  font-weight: bold;
  color: darkgrey;
  margin: 0.3rem 0;
}

.playerInfoContainer > .artist {
  font-size: 0.8rem;
  font-weight: bold;
}

.playerControlContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
